# Data Analysis with Pandas

## Bike Stats

Author: Will Koger
Created: 7/8/2020

In [94]:
import pandas as pd

1. What is the average trip duration for a borrowed bicycle?
1. What’s the most common age of a bicycle-sharer?
1. Given all the weather data here, find the average precipitation per month, and the median precipitation.
1. What’s the average number of bikes at a given bike station?
1. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
1. Come up with 3 more questions that can be answered with this data set.

In [95]:
trp = pd.read_csv("data/trip.csv", error_bad_lines=False)
wth = pd.read_csv("data/weather.csv", error_bad_lines=False)
stn = pd.read_csv("data/station.csv", error_bad_lines=False)
trp

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [96]:
# What is the average trip duration for a borrowed bicycle?
avg_trip_dur = trp["tripduration"].mean()
avg_trip_dur

1178.2956753399776

In [97]:
# What’s the most common age of a bicycle-sharer?
com_age = 2020 - trp["birthyear"].mode()
com_age

0    33.0
dtype: float64

In [98]:
# Given all the weather data here, find the average precipitation per month, and the median precipitation.
wth["Precipitation_Month"] = pd.DatetimeIndex(wth["Date"]).month
wth[["Precipitation_In", "Precipitation_Month"]].groupby(["Precipitation_Month"]).mean()

                     Precipitation_In
Precipitation_Month
1                            0.143548
2                            0.168421
3                            0.156935
4                            0.051333
5                            0.012419
6                            0.030500
7                            0.012097
8                            0.018226
9                            0.041000
10                           0.189000
11                           0.187833
12                           0.236290

In [99]:
# What’s the average number of bikes at a given bike station?
stn[["station_id", "current_dockcount"]].groupby(["station_id"]).mean().sort_values("current_dockcount", ascending=False)

            current_dockcount
station_id
CH-08                      26
DPD-03                     24
WF-01                      24
CH-02                      20
CBD-03                     20
FH-04                      20
CBD-05                     20
CBD-07                     20
SLU-21                     20
SLU-20                     20
SLU-01                     20
SLU-16                     20
SLU-15                     20
PS-04                      18
PS-05                      18
SLU-02                     18
BT-01                      18
SLU-04                     18
SLU-07                     18
EL-03                      18
SLU-22                     18
UD-01                      18
UD-02                      18
WF-03                      18
EL-05                      18
WF-04                      18
DPD-01                     18
CH-16                      18
CH-07                      18
CBD-04                     18
CBD-06                     18
CBD-13                     18
EL-01                      16
CH-01                      16
BT-04                      16
UW-11                      16
UW-10                      16
UW-04                      16
UD-07                      16
UD-04                      16
ID-04                      16
SLU-19                     16
BT-03                      16
SLU-17                     16
CH-03                      16
CH-05                      16
CH-06                      16
CH-15                      16
CH-09                      16
UW-07                      14
BT-05                      14
CH-12                      14
UW-02                      14
UW-06                      14
FH-01                       0
UW-01                       0
SLU-18                      0
CD-01                       0

In [122]:
# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
stn["diff"] = stn["install_dockcount"] - stn["current_dockcount"]
rem = stn[["station_id", "modification_date", "install_dockcount", "current_dockcount", "diff"]].dropna()
if rem["diff"].sort_values().median() > 0:
    print("Most likely to gain")
else:
    print("Most likely to lose")

Most likely to gain