# Data Analysis with Pandas

## Video game sales

Author: Will Koger
Created: 7/8/2020

In [14]:
import pandas as pd
import numpy as np
import matplotlib as plt



1. Come up with 3 more questions that can be answered with this data set.

In [15]:
vg = pd.read_csv("data/vgsales.csv")
vg

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [28]:
# Which company is the most common video game publisher?
def com():
    common_pub = vg["Publisher"].value_counts()
    return common_pub.nlargest(1)
com()

Electronic Arts    1351
Name: Publisher, dtype: int64

In [17]:
#What’s the most common platform?
com_plat = vg["Platform"].value_counts()
com_plat.nlargest(1)

DS    2163
Name: Platform, dtype: int64

In [18]:
# What about the most common genre?
top_genre = vg["Genre"].value_counts()
top_genre.nlargest(1)

Action    3316
Name: Genre, dtype: int64

In [19]:
# What are the top 20 highest grossing games?
top_sellers = vg[["Name", "Global_Sales"]].sort_values("Global_Sales").nlargest(20, "Global_Sales")
top_sellers

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [20]:
# For North American video game sales, what’s the median?
    # - Provide a secondary output showing ten games surrounding the median sales output
    # - assume that games with same median value are sorted in descending order

NA_med = vg['NA_Sales'].median()
NA_med

0.08

In [21]:
# Provide a secondary output showing ten games surrounding the median sales output
# - assume that games with same median value are sorted in descending order
NA_games = vg.sort_values(by="NA_Sales", ascending=False)
NA_med_two = int(NA_games.shape[0]/2)
NA_surr = NA_games[NA_med_two-5:NA_med_two+5]
NA_surr

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
10802,10804,Bladestorm: The Hundred Years' War,X360,2007.0,Action,Tecmo Koei,0.08,0.01,0.00,0.01,0.10
9569,9571,Batman: Arkham Knight,PC,2015.0,Action,Warner Bros. Interactive Entertainment,0.08,0.03,0.00,0.01,0.13
8550,8552,Wakeboarding Unleashed Featuring Shaun Murray,PS2,2003.0,Sports,Activision,0.08,0.06,0.00,0.02,0.16
10799,10801,Mind Quiz,PSP,2006.0,Action,Ubisoft,0.08,0.01,0.00,0.01,0.10
9197,9199,The Walking Dead: Season Two,XOne,2014.0,Adventure,Telltale Games,0.08,0.05,0.00,0.01,0.14
9192,9194,Dino Crisis 3,XB,2003.0,Action,Capcom,0.08,0.03,0.03,0.00,0.14
10181,10183,Smash Court Tennis 3,X360,2007.0,Sports,Atari,0.08,0.02,0.00,0.01,0.11
8802,8804,Disney's The Lion King: Simba's Mighty Adventure,PS,2000.0,Action,Activision,0.08,0.06,0.00,0.01,0.15
8724,8726,Driven,PS2,2001.0,Racing,BAM! Entertainment,0.08,0.06,0.00,0.02,0.15
10793,10795,Glory Days 2,DS,2007.0,Strategy,Ghostlight,0.08,0.00,0.00,0.01,0.10

In [22]:
# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
# NA_top = vg["NA_Sales"].std()
NA_top = vg["NA_Sales"].iloc[0]
NA_mean = vg["NA_Sales"].mean()
NA_stdev = vg["NA_Sales"].std()
(NA_top-NA_mean)/NA_stdev

50.47898767479108

In [23]:
# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

avg = vg[["Platform", "Global_Sales"]].groupby("Platform").mean().sort_values(by="Global_Sales", ascending=False)
avg.index.get_loc("Wii")+1

9

In [24]:
# What is the top 10 most popular PC games?
# popular = vg.groupby("Name").sort_values(by="Global_Sales", ascending=False)
# popular